<div class="container">
	<div id="leftPanel" class="panel panel-default" style="width:25%;float:left;padding:5px;height:100%">

		<canvas id="canvas" width="200" height="200"
			style="border: 1px solid #d3d3d3;">
			<draw-circle x="50" y="50"></draw-circle>
			<draw-circle x="50" y="50"></draw-circle>
		</canvas>
		
		<div> </div>
	</div>
	
	
	<div id="mainPanel" style="width:73%;float:left;padding:5px;height:100%">
	<canvas id="mycanvas" style="border: 1px gray solid; float: left" width="600" height="400" ></canvas>
		<div class="col-xs-8 text-center">
			<button type="button" class="btn btn-primary btn-block" ng-click="drawCurve()">Draw Curve</button>
			<button type="button" class="btn btn-primary btn-block" ng-click="addMethod()">Add Method</button>
			<button type="button" class="btn btn-primary btn-block" ng-click="deleteMethod()">Delete Method</button>
		</div>	
	</div>
	
	
</div>