<div class="modal-header" style="height: 50px;">
			<h4 class="modal-title col-lg-12 text-center" id="myModalLabel" style="font-family: monospace;" >Request <span> <em> {{currentRequestToEdit.id}}</em> </span></h4>
		</div>
		<div class="modal-body">
			<form class="form-horizontal" role="form">
			
				
				<div class="form-group">
										
					<table id="requestTable" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td width="20%" style="padding-left: 5%;">
								<label for="reqId" class=" control-label">Ticket No</label>
							</td>
							<td width="80%" style="vertical-align: middle;">
								<div class="col-lg-9">
									<span id='reqId'>{{currentRequestToEdit.id}}</span>
								</div>
							</td>
						</tr>
						<tr>
							<td width="20%" style="padding-left: 5%;">
								<label for="studentId" class=" control-label">Student ID</label>
							</td>
							<td width="80%" style="vertical-align: middle;">								
								<span id='studentId'>{{currentRequestToEdit.username}}</span>							
							</td>
						</tr>
						<tr>
							<td width="20%" style="padding-left: 5%;">
								<label for="hostelNo" class=" control-label">Hostel No</label>
							</td>
							<td width="80%" style="vertical-align: middle;">								
								<span id='hostelNo'>{{currentRequestToEdit.hostelNo}}</span>							
							</td>
						</tr>
						<tr>
							<td width="20%" style="padding-left: 5%;">
								<label for="roomNo" class=" control-label">Room No</label>
							</td>
							<td width="80%" style="vertical-align: middle;">								
								<span id='roomNo'>{{currentRequestToEdit.roomNo}}</span>							
							</td>
						</tr>
						<tr>
							<td width="20%" style="padding-left: 5%;">
								<label for="mobileNo" class=" control-label">Mobile No</label>
							</td>
							<td width="80%" style="vertical-align: middle;">								
								<span id='mobileNo'>{{currentRequestToEdit.mobileNo}}</span>							
							</td>
						</tr>
						<tr>
							<td width="20%" style="padding-left: 5%;">
								<label for="slot" class=" control-label">Slot Details</label>
							</td>
							<td width="80%" style="vertical-align: middle;">								
								<span id='slot'>{{currentRequestToEdit.slotDateTS.substring(0,10)}} {{currentRequestToEdit.slotStart}} - {{currentRequestToEdit.slotEnd}}</span>							
							</td>
						</tr>
						<tr>
							<td width="20%" style="padding-left: 5%;">
								<label for="helpTopic" class=" control-label">Help Topic</label>
							</td>
							<td width="80%" style="vertical-align: middle;">								
								<span id='helpTopic'>{{currentRequestToEdit.helpTopic}}</span>							
							</td>
						</tr>
						<tr>
							<td width="20%" style="padding-left: 5%;">
								<label for="subject" class=" control-label">Subject</label>
							</td>
							<td width="80%" style="vertical-align: middle;">								
								<span id='subject'>{{currentRequestToEdit.subject}}</span>							
							</td>
						</tr>
						<tr>
							<td width="20%" style="padding-left: 5%;">
								<label for="message" class=" control-label">Description</label>
							</td>
							<td width="80%" style="height: 200px;float: left;overflow-x: auto;border-style: ridge; width: 98%;">								
								<span id='message'>{{currentRequestToEdit.message}}</span>							
							</td>
						</tr>
						
						<tr>
							<td width="20%" style="padding-left: 5%;">
								<label for="message" class=" control-label">Hostel Sysad Remarks</label>
							</td>
							<td width="80%" style="height: 100px;float: left;overflow-x: auto;border-style: ridge; width: 98%;">								
								<span id='message'>{{currentRequestToEdit.hostelSysadRemarks}}</span>							
							</td>
						</tr>
						
						<tr>
							<td width="20%" style="padding-left: 5%;">
								<label for="customerNumber" class=" control-label" style="padding-top: 4%;">Status</label>
							</td>
							<td width="80%" style="vertical-align: middle; padding-top: 5%; padding-bottom: 5%;">
								<!-- Status dropdown -->
								 <div class="btn-group col-md-4 text-center" uib-dropdown uib-keyboard-nav>
									 <button id="simple-btn-keyboard-nav" type="button" class="btn btn-default" uib-dropdown-toggle>
									     <span>{{changeStatusTo}}</span>								            
									     <span class="caret"></span>
									 </button>
									 <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
									     <li ng-if="mainService.currentUser.userType == 'vendor'" ng-repeat="st in statusList" role="menuitem" ><a ng-click="changeStatus(st)">{{st}}</a></li>
									     <li ng-if="mainService.currentUser.userType == 'admin'" ng-repeat="st in statusListAdmin" role="menuitem" ><a ng-click="changeStatus(st)">{{st}}</a></li>								            
									 </ul>
								</div>
							</td>						
						</tr>
						<tr>
							<td width="20%" style="padding-left: 5%;">
								<label for="message" class=" control-label">Enter Remarks </label>
							</td>
							<td width="80%" style="padding-left: 5%"">								
								<textarea ng-model="changeVendorRemarksTo" rows="8" cols="50" class="input-no-width rounded shaded left clearboth" id="vendorRemarks" required></textarea>
														
							</td>
						</tr>
						
						</tbody>
					</table>						
					
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-disabled="changeVendorRemarksTo.length == 0" ng-click="save()">Save</button>
			<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>